@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --escuro: #222327;
    --destaque: #ecff8d;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--escuro);
}

.nav {
    display: flex;
    width: 400px;
    height: 70px;
    background-color: white;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.nav ul {
    display: flex;
    width: 350px;
}

.lista {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.lista a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;

}

.lista a .icone {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 18px;
    text-align: center;
    transition: 0.5s;
    color: var(--escuro);
}

.lista.active a .icone {
    transform: translateY(-35px);
}

.lista a .texto {
    position: absolute;
    color: var(--escuro);
    font-weight: 400;
    font-size: 10px;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);

}

.lista.active a .texto {
    opacity: 1;
    transform: translateY(10px);
}

.indicador {
    position: absolute;
    top: -35px;
    width: 70px;
    height: 70px;
    background-color: var(--destaque);
    border-radius: 50%;
    border: 6px solid var(--escuro);
    transition: 0.5s;

}




.lista:nth-child(1).active ~ .indicador {
    transform: translateX(calc(70px * 0));
}

.lista:nth-child(2).active ~ .indicador {
    transform: translateX(calc(70px * 1));
}


.lista:nth-child(3).active ~ .indicador {
    transform: translateX(calc(70px * 2));
}


.lista:nth-child(4).active ~ .indicador {
    transform: translateX(calc(70px * 3));
}

.lista:nth-child(5).active ~ .indicador {
    transform: translateX(calc(70px * 4));
}



